/*tipografia*/
/*colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: medium;
}

h2 {
  font-size: larger;
}

p {
  font-size: medium;
}

.miColor {
  background-color: #522F15;
}

/*header*/
header {
  background-color: #522F15;
}
header nav {
  background-color: #522F15;
}
header nav a {
  color: #FAE8B3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
header nav .logo {
  width: 90px;
  height: 84px;
}
header nav button .navbar-toggler {
  background-color: #FAE8B3;
}
header nav ul {
  list-style-type: none;
}
header nav ul .navbar-nav {
  display: flex;
}
header nav ul li a .nav-link {
  color: #FAE8B3;
}
header nav ul li a :visited {
  color: darkseagreen;
}
header nav ul li a :active {
  color: aqua;
}
header nav ul li a :hover {
  color: rgb(193, 114, 10);
}

/*main index*/
.banner {
  background-color: #FAE8B3;
  text-align: center;
  align-content: space-around;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;
}
.banner .tituloBanner {
  font-size: 5rem;
  font-style: italic;
  align-items: center;
}
.banner .tituloBanner .textoBanner {
  align-items: center;
}
.banner .nosotros {
  background-size: cover;
}
.banner .nosotros img {
  width: 100%;
}
.banner .nosotros img .texto1 {
  background-color: #FAE8B3;
}
.banner .nosotros img .texto1 p {
  color: rgb(226, 207, 164);
}
.banner .nosotros img .texto1 .cafe p {
  display: flex;
  flex-direction: column;
  color: #28170a;
  text-align: center;
  align-items: center;
  font-size: large;
}

/*main productos*/
.banner {
  background-color: #FAE8B3;
  text-align: center;
  align-content: space-around;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;
}
.banner .tituloBanner {
  font-size: 5rem;
  font-style: italic;
}
.banner .tituloBanner .divisor p {
  background-color: #28170a;
}
.banner .tituloBanner .cafe p {
  display: flex;
  flex-direction: column;
  color: #28170a;
  text-align: center;
  align-items: center;
  font-size: large;
}
.banner .tituloBanner .cafe p .row {
  background-position: center;
  align-items: center;
  justify-content: center;
}
.banner .tituloBanner .cafe p .row .col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.banner .tituloBanner .cafe p .row .col-6 .mt-5 {
  margin-top: 1rem;
}
.banner .tituloBanner .cafe p .row .col-6 .mt-5 .visual-tazas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .tituloBanner .cafe p .row .col-6 .mt-5 .visual-tazas .tazas img {
  width: 60%;
  align-items: flex-start;
  justify-items: center;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #522F15;
  border-style: ridge;
}

/*reservas*/
.banner {
  background-color: #FAE8B3;
  text-align: center;
  align-content: space-around;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;
}
.banner .tituloBanner {
  font-size: 5rem;
  font-style: italic;
  align-items: center;
}
.banner .tituloBanner .textoBanner {
  align-items: center;
}

/*main productos*/
.banner {
  background-color: #FAE8B3;
  text-align: center;
  align-content: space-around;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;
}
.banner .tituloBanner {
  font-size: 5rem;
  font-style: italic;
}
.banner .tituloBanner .divisor p {
  background-color: #28170a;
}

/*footer*/
footer {
  display: flex;
  align-content: end;
  align-items: end;
}
footer div {
  display: flex;
  width: 30%;
  align-items: flex-end;
  margin-right: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer div footer img {
  width: 30px;
}
footer div .logoSobre {
  margin-right: auto;
}
footer div .logoFacebook {
  margin-left: auto;
}
footer div .logoInstagram {
  margin-left: auto;
}

/*header*/
header .logo {
  width: 90px;
  height: 84px;
}
header ul {
  list-style-type: none;
}
header ul .navbar-nav {
  display: flex;
}

/*footer*/
footer {
  display: flex;
  align-content: end;
  align-items: end;
}
footer div {
  display: flex;
  width: 30%;
  align-items: flex-end;
  margin-right: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer div footer img {
  width: 30px;
}
footer div .logoSobre {
  margin-right: auto;
}
footer div .logoFacebook {
  margin-left: auto;
}
footer div .logoInstagram {
  margin-left: auto;
}

/*# sourceMappingURL=estilos.css.map */
