/*tipografia*/
/*colores*/
/*mixin*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.texto1 p {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #522F15;
  font-size: large;
}

.cafe p {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #522F15;
  font-size: medium;
}

p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #522F15;
  font-size: medium;
}

.divisor p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FAE8B3;
  font-size: medium;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

main {
  margin-right: 0%;
}

h1 {
  font-size: medium;
}

h2 {
  font-size: larger;
}

p {
  font-size: medium;
}

.miColor {
  background-color: #522F15;
}

/*header-banner*/
header {
  background-color: #522F15;
}
header nav {
  background-color: #522F15;
}
header nav a {
  color: #FAE8B3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
header nav .container-fluid .logo {
  width: 90px;
  height: 84px;
}
header nav .container-fluid .navbar-toggler {
  border: none !important;
  color: #FAE8B3;
}
header nav ul {
  list-style-type: none;
}
header nav ul .navbar-nav {
  display: flex;
}
header nav ul li :visited {
  color: darkseagreen;
}
header nav ul li :active {
  color: aqua;
}
header nav ul li :hover {
  color: rgb(193, 114, 10);
}

.banner {
  background-color: #FAE8B3;
  text-align: center;
  align-content: space-around;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;
}
.banner .tituloBanner {
  font-size: 5rem;
  font-style: italic;
  align-items: center;
}
.banner .tituloBanner .textoBanner {
  align-items: center;
}

/*main index*/
body {
  margin: 0%;
}

.nosotros {
  background-size: cover;
}
.nosotros img {
  width: 100%;
}
.nosotros img .texto1 {
  background-color: #FAE8B3;
}
.nosotros img .texto1 p {
  color: rgb(226, 207, 164);
}
.nosotros img .texto1 .cafe p {
  display: flex;
  flex-direction: column;
  color: #28170a;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: large;
}

/*main productos*/
.divisor {
  background-color: #28170a;
}

main .cafe {
  display: flex;
  background-size: contain;
  align-content: center;
  align-items: center;
}
main .cafe .img-fluid {
  width: 30%;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #522F15;
  border-style: ridge;
}

/*main reservas*/
html {
  background-size: cover;
}

body {
  background-size: 100%;
}

main .banner {
  background-size: cover;
}
main .booking, main .curso, main .suc {
  display: flex;
  background-color: #FAE8B3;
  background-size: 100%;
  align-content: center;
  text-align: center;
}
main .booking .container-fluid p, main .curso .container-fluid p, main .suc .container-fluid p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
main .booking .img-fluid, main .curso .img-fluid, main .suc .img-fluid {
  width: 70%;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #522F15;
  border-style: ridge;
}

/*main sucursales*/
main .suc .img-fluid {
  width: 50%;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #522F15;
  border-style: ridge;
}
main .suc .container .map {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/*main formacion*/
main .curso .container-fluid p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
main .curso .img-fluid {
  width: 50%;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #522F15;
  border-style: ridge;
}
main .curso form p {
  font-size: medium;
  margin: top 15px;
}
main .curso .label-large {
  font-size: medium;
  color: #522F15;
}

/*footer*/
footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
footer div {
  display: flex;
  width: screen;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: 8px;
}
footer div img {
  width: 30px;
}
footer div .logoFacebook {
  margin-left: auto;
}
footer div .logoInstagram {
  margin-left: auto;
}

/*# sourceMappingURL=estilos.css.map */
