/*footer*/

footer{
    .medios {
        display: flex;
        align-content: end;
        align-items: end;
    
        img{
            .logoSobre{
                margin-right:auto;
        
                .logoFacebook{
                margin-left:auto;
        
                .logoInstagram{
                margin-left: auto;
        }
       
}
}
    }
}
}