
/*footer*/

footer{
        background-color: white;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        
        
        div{
            display:flex;
            width: screen;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content:space-around;
            margin-right: 8px;
            margin-top: 8px;

            img{
              width: 30px;
            
            }
            
            .logoFacebook{
                margin-left:auto;
            }  
            .logoInstagram{
                margin-left:auto;
            }
           
        }
        
} 

