
/*footer*/

footer{
        background-color: white;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 10px;
        
        
    

        div{
           
            display: flex;
            width: 10%;
            align-content: center;
            align-items: end;
            margin-right: 0%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            ;

            img{
              width: 30px;
            
            }
            .logoSobre{
                margin-left:5px;
            }
            .logoFacebook{
                margin-left:auto;
            }  
            .logoInstagram{
                margin-left:auto;
            }
           
        }
        
} 

