.curso {
    background-color:#FAE8B3;
    text-align:center;
    align-content: space-around;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #522F15;

    img{
        width:45%;
        align-items:center;
        justify-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
        border-color: #522F15;
        border-style:ridge;
        border-radius: 5px;
    }

    

}