/*main formacion*/



main{
  .curso {
    .container-fluid p{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
      @extend .booking;
          form{
              p{
                  font-size: medium;
                  
              }
          }
              .label-large {
              font-size: medium;
              color: $marron;
              }
            }

  }


 