
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.curso {
    @extend .booking;
    }
    form{
        p{
            font-size: medium;
        }
    }
        .label-large {
        font-size: medium;
        color: $marron;
     }



 