/*header-banner*/
header{
  
    background-color:$marron; 

    nav{
        background-color: $marron; 
        a{
          color: #FAE8B3;
          text-decoration: none;
          font-family: $font;
          font-size: small;
        }
        .container-fluid{
          .logo{
            width: 90px;
            height: 84px;
          }
      
          .navbar-toggler{
              border: none !important;
              color: #FAE8B3;
            }   
        }
            ul{ 
              list-style-type: none;
              .navbar-nav{
                display: flex;
              }  
              li{ 
                :visited{ color: darkseagreen;
                }
                :active{color: aqua;
                }
                :hover{color:rgb(193, 114, 10)
                }
                  
              }
            }
    }     
}
          


.banner{
  background-color:$beige;
  text-align:center;
  align-content: space-around;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color:$marron;

  .tituloBanner{
    font-size: 5rem;
    font-style: italic;
    align-items: center;

  .textoBanner{
    align-items: center;
  }
  }
}
     