
/*main index*/



  // Example
// Apply styles starting from medium devices and up to extra large devices


    .nosotros{
      background-size: cover;
        img{
          width:100%;
        .texto1{
            background-color:$beige ;
            p{
              color: rgb(226, 207, 164);
          }
        .cafe p{
          display: flex;
          flex-direction: column;
          color:#28170a;
          text-align:center;
          justify-content: center;
          align-items:center;
          font-size:large;
        }
          }
        
    }
  }

  