
/*main index*/

body{
  margin: 0%;
}
    .nosotros{
      background-size: cover;

        img{
          width:100%;
        .texto1{
            background-color:$beige ;
            p{
              color: rgb(226, 207, 164);
          }
        .cafe p{
          display: flex;
          flex-direction: column;
          color:#28170a;
          text-align:center;
          justify-content: center;
          align-items:center;
          font-size:large;
          }
        }
        
    }
  }

  