/*main productos*/  
.banner{
  background-color:#FAE8B3;
  text-align:center;
  align-content: space-around;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;

  .tituloBanner{
    font-size: 5rem;
    font-style: italic;
  }
}
  .divisor {
    
    background-color: #28170a;
    p{
      display: flex;
      flex-direction: column;
      align-content:center;
      align-items: center;
      color: beige;
    }
  }

    

    .container-fluid{
      background-position: center;
      align-items:center;
      justify-content: center;

  
        .col-6 {

          width: 50%;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          
          p {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
          }

          
          .img-fluid {
              display:flex;
              align-items:center;
              border-radius: 5px;
              border-color: #522F15;
              border-style:ridge;
            }
          
         
        }
               

        .col-8-sm {
          display: flex;
          flex-direction: column;
          color:#28170a;
          text-align:center;
          align-items:center;
          font-size:large;
        } 

    }
            
        
        
