/*main productos*/  

  .divisor {
    
    background-color: #28170a;
       
 }
 .cafe {
  display: flex;
  background-size:contain;
  align-content: center;
  align-items: center;
   
    .img-fluid{
      size: 40%;
    }
 }
               

       

      
    
  
        
        
