/*main reservas*/


.banner{
    background-color:$beige;
    text-align:center;
    align-content: space-around;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    color:$marron;

    .tituloBanner{
      font-size: 5rem;
      font-style: italic;
      align-items: center;

    .textoBanner{
      align-items: center;
    }
    }
}

.booking {
  background-color:#FAE8B3;
  text-align:center;
  align-content: space-around;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #522F15;

  img {
    width: 20%;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-color: #522F15;
    border-style:ridge;
  }
   
  }
  
  
  

     









