/*reservas*/


.banner{
    background-color:$beige;
    text-align:center;
    align-content: space-around;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    color:$marron;

    .tituloBanner{
      font-size: 5rem;
      font-style: italic;
      align-items: center;

    .textoBanner{
      align-items: center;
    }
}
}