/*main reservas*/

main {
.banner{
  background-size:cover
}
.booking {
  display: flex;
  background-color:#FAE8B3;
  background-size:contain;
  align-content: center;
  text-align:center;

 
  

    img {
      width: 20%;
      align-items: center;
      margin-left: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 5px;
      border-color: #522F15;
      border-style:ridge;
    }
   
  }
}
  

     









