/*main productos*/  
.banner{
    background-color:#FAE8B3;
    text-align:center;
    align-content: space-around;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #522F15;
  
    .tituloBanner{
      font-size: 5rem;
      font-style: italic;
  
    .divisor p{
        background-color: #28170a;
    }
}
}
